@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@using static FHRealEstate.Extensions.UrlExtensions


<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="advanced search custom, agency, agent, business, clean, corporate, directory, google maps, homes, listing, membership packages, property, real estate, real estate agent, realestate agency, realtor,kgajjar20">
    <meta name="description" content="VidhyaRealEstate">
    <meta name="CreativeLayers" content="ATFN">
    <!-- css file -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Toast -->
    <link href="@Url.Content("~/css/jquery.toast.min.css")" rel="stylesheet" asp-append-version="true">
    <!-- Custom -->
    <link href="~/css/Override.css" rel="stylesheet" />
    <base href='@Url.AbsoluteContent("~/")'>
    <!-- Title -->
    <title>VidhyaRealEstate - @ViewData["Title"]</title>
    <!-- Favicon -->
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" />
</head>
<body>
    <div class="wrapper">
        <div class="preloader"></div>

        <!-- Main Header Nav -->
        <header class="header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu">
            <div class="container-fluid p0">
                <!-- Ace Responsive Menu -->
                <nav>
                    <!-- Menu Toggle btn-->
                    <div class="menu-toggle">
                        <img class="nav_logo_img img-fluid" src="~/images/header-logo.png" alt="header-logo.png">
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a href="#" class="navbar_brand float-left dn-smd">
                        <img class="logo1 img-fluid" src="~/images/header-logo2.png" alt="header-logo.png">
                        <img class="logo2 img-fluid" src="~/images/header-logo2.png" alt="header-logo2.png">
                        <span>Vidhya Real Estate</span>
                    </a>
                    <!-- Responsive Menu Structure-->
                    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
                    <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                        <li>
                            <button class="btn btn-transparent"><span class="title">Get a Home Loan</span></button>
                            <!-- Level Two-->
                        </li>
                        <li class="last">
                            <a href="@Url.Action("Contact","Home")"><span class="title">Contact</span></a>
                        </li>
                        @if (UserSession.IsAuthenticated)
                        {
                            <li class="user_setting">
                                <div class="dropdown menu-active">
                                    <a class="btn dropdown-toggle btn flaticon-user" href="#" data-toggle="dropdown" aria-expanded="false"><span class="dn-lg ml-1">@UserSession.GetFirstName()</span></a>
                                    <div class="dropdown-menu" style="">
                                        <div class="user_set_header">
                                            <p>@UserSession.GetFirstName()<br><span class="address">@UserSession.GetEmail()</span></p>
                                        </div>
                                        <div class="user_setting_content">
                                            <a class="dropdown-item active" href="#">My Profile</a>
                                            <a class="dropdown-item" href="#">Messages</a>
                                            <a class="dropdown-item" href="@Url.Action("Logout","Home")">Log out</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-inline-item list_s"><a href="@Url.Action("Login","Home")" class="btn flaticon-user"> <span class="dn-lg">Login/Register</span></a></li>
                        }

                        @if (UserSession.IsAuthenticated)
                        {
                            <li class="list-inline-item add_listing"><a asp-action="AddUpdateProperty" asp-controller="User"><span class="flaticon-plus"></span><span class="dn-lg"> Create Listing</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </header>


        <!-- Main Header Nav For Mobile -->
        <div id="page" class="stylehome1 h0">
            <div class="mobile-menu">
                <div class="header stylehome1">
                    <div class="main_logo_home2 text-center">
                        <img class="nav_logo_img img-fluid mt20" src="~/images/header-logo2.png" alt="header-logo2.png">
                        <span class="mt20">Vidhya Real Estate</span>
                    </div>
                    <ul class="menu_bar_home2">
                        <li class="list-inline-item list_s"><a href="page-register.html"><span class="flaticon-user"></span></a></li>
                        <li class="list-inline-item"><a href="#menu"><span></span></a></li>
                    </ul>
                </div>
            </div><!-- /.mobile-menu -->
            <nav id="menu" class="stylehome1">
                <ul>
                    <!--<li>
                        <span>Home</span>
                        <ul>
                            <li><a href="index-2.html">Home 1</a></li>
                            <li><a href="index2.html">Home 2</a></li>
                            <li><a href="index3.html">Home 3</a></li>
                            <li><a href="index4.html">Home 4</a></li>
                            <li><a href="index5.html">Home 5</a></li>
                            <li><a href="index6.html">Home 6</a></li>
                            <li><a href="index7.html">Home 7</a></li>
                            <li><a href="index8.html">Home 8</a></li>
                            <li><a href="index9.html">Home 9</a></li>
                            <li><a href="index10.html">Home 10</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Listing</span>
                        <ul>
                            <li>
                                <span>Listing Grid</span>
                                <ul>
                                    <li><a href="page-listing-grid-v1.html">Grid v1</a></li>
                                    <li><a href="page-listing-grid-v2.html">Grid v2</a></li>
                                    <li><a href="page-listing-grid-v3.html">Grid v3</a></li>
                                    <li><a href="page-listing-grid-v4.html">Grid v4</a></li>
                                    <li><a href="page-listing-grid-v5.html">Grid v5</a></li>
                                    <li><a href="page-listing-full-width-grid.html">Grid Fullwidth</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Listing Style</span>
                                <ul>
                                    <li><a href="page-listing-parallax.html">Parallax Style</a></li>
                                    <li><a href="page-listing-slider.html">Slider Style</a></li>
                                    <li><a href="page-listing-map.html">Map Header</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Listing Half</span>
                                <ul>
                                    <li><a href="page-listing-half-map-v1.html">Map V1</a></li>
                                    <li><a href="page-listing-half-map-v2.html">Map V2</a></li>
                                    <li><a href="page-listing-half-map-v3.html">Map V3</a></li>
                                    <li><a href="page-listing-half-map-v4.html">Map V4</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Agent View</span>
                                <ul>
                                    <li><a href="page-listing-agent-v1.html">Agent V1</a></li>
                                    <li><a href="page-listing-agent-v2.html">Agent V2</a></li>
                                    <li><a href="page-listing-agent-v3.html">Agent Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Agencies View</span>
                                <ul>
                                    <li><a href="page-agencies-list-v1.html">Agencies V1</a></li>
                                    <li><a href="page-agencies-list-v2.html">Agencies V2</a></li>
                                    <li><a href="page-agencies-list-v3.html">Agencies Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Property</span>
                        <ul>
                            <li>
                                <span>Property</span>
                                <ul>
                                    <li><a href="page-dashboard.html">Dashboard</a></li>
                                    <li><a href="page-my-properties.html">My Properties</a></li>
                                    <li><a href="page-add-new-property.html">Add New Property</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Listing Single</span>
                                <ul>
                                    <li><a href="page-listing-single-v1.html">Single V1</a></li>
                                    <li><a href="page-listing-single-v2.html">Single V2</a></li>
                                    <li><a href="page-listing-single-v3.html">Single V3</a></li>
                                    <li><a href="page-listing-single-v4.html">Single V4</a></li>
                                    <li><a href="page-listing-single-v5.html">Single V5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Blog</span>
                        <ul>
                            <li><a href="page-blog-v1.html">Blog List 1</a></li>
                            <li><a href="page-blog-grid.html">Blog List 2</a></li>
                            <li><a href="page-blog-single.html">Single Post</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Pages</span>
                        <ul>
                            <li>
                                <span>Shop</span>
                                <ul>
                                    <li><a href="page-shop.html">Shop</a></li>
                                    <li><a href="page-shop-single.html">Shop Single</a></li>
                                    <li><a href="page-shop-cart.html">Cart</a></li>
                                    <li><a href="page-shop-checkout.html">Checkout</a></li>
                                    <li><a href="page-shop-order.html">Order</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Aboutus","Home")">About Us</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>-->
                    @*<li><a href="page-gallery.html">Gallery</a></li>
                        <li><a href="page-faq.html">Faq</a></li>*@
                    <!--<li><a href="@Url.Action("Login","Home")">LogIn</a></li>-->
                    @*<li><a href="page-compare.html">Membership</a></li>
                        <li><a href="page-compare2.html">Membership 2</a></li>*@
                    <!--<li><a href="page-register.html">Register</a></li>
                            <li><a href="page-service.html">Service</a></li>
                            <li><a href="page-error.html">404 Page</a></li>
                            <li><a href="page-terms.html">Terms and Conditions</a></li>
                            <li><a href="page-ui-element.html">UI Elements</a></li>
                        </ul>
                    </li>-->

                    <li><a href="@Url.Action("Login","Home")"><span class="flaticon-user"></span> Login</a></li>
                    <li><a href="@Url.Action("Signup","Home")"><span class="flaticon-edit"></span>Register</a></li>
                    <li><a href="@Url.Action("Aboutus","Home")">About Us</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>

                    @*<li class="cl_btn"><a class="btn btn-block btn-lg btn-thm circle" asp-action="AddUpdateProperty" asp-controller="User"><span class="flaticon-plus"></span> Create Listing</a></li>*@
                </ul>
            </nav>
        </div>

        @RenderBody()



        <!-- Our Footer -->
        <section class="footer_one">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pr0 pl0">
                        <div class="footer_about_widget">
                            <h4>About Site</h4>
                            <p>We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="footer_qlink_widget">
                            <h4>Quick Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Aboutus","Home")">About Us</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                @*<li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Press Info</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="footer_contact_widget">
                            <h4>Contact Us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">A-402, Shivalik Satyamev</a></li>
                                <li><a href="#">Bopal-Ambli</li>
                                <li><a href="#">380058, India.</a></li>
                                <li><a href="tel:+918460337099">+91-84603-37099</a></li>
                                <li><a href="+918128226004">+91-81282-26004</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="footer_social_widget">
                            <h4>Follow us</h4>
                            <ul class="mb30">
                                <li class="list-inline-item"><a href="https://www.facebook.com/vidhyaarealestate"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/vidhya_realestate/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            @*<h4>Subscribe</h4>
                                <form class="footer_mailchimp_form">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <input type="email" class="form-control mb-2" id="inlineFormInput" placeholder="Your email">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Footer Bottom Area -->
        <section class="footer_middle_area pt40 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="footer_menu_widget">
                            <ul>
                                <li class="list-inline-item"><a href="#">Home</a></li>
                                <li class="list-inline-item"><a href="#">Listing</a></li>
                                <li class="list-inline-item"><a href="#">Property</a></li>
                                <li class="list-inline-item"><a href="#">Pages</a></li>
                                <li class="list-inline-item"><a href="#">Blog</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <div class="copyright-widget text-right">
                            <p>© @DateTime.Now.Year Vidhya Real Estate. Made with respect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
    </div>
    <!-- Wrapper End -->
    <script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script type="text/javascript" src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mmenu.all.js"></script>
    <script type="text/javascript" src="~/js/ace-responsive-menu.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/snackbar.min.js"></script>
    <script type="text/javascript" src="~/js/simplebar.js"></script>
    <script type="text/javascript" src="~/js/parallax.js"></script>
    <script type="text/javascript" src="~/js/scrollto.js"></script>
    <script type="text/javascript" src="~/js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/js/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="~/js/progressbar.js"></script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="~/js/timepicker.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <!-- Custom script for all pages -->
    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="@Url.Content("~/js/jquery.form.js")" type="text/javascript" asp-append-version="true"></script>
    <!-- Toast plugin -->
    <script src="@Url.Content("~/js/jquery.toast.min.js")" type="text/javascript" asp-append-version="true"></script>

    <script src="@Url.Content("~/js/common.js")" asp-append-version="true"></script>


    <script>
        var _BaseUrl;
        $(function () {
            _BaseUrl = document.baseURI;
        });
    </script>
    <script type="text/javascript">

        var commonErrorMessage = "Some error has been occured.Please try again.";

        $(function () {
             if('@ViewBag.SuccessMessage' != 'null' && '@ViewBag.SuccessMessage' != '')
            {
                 success('@ViewBag.SuccessMessage');
            }
            else if ('@ViewBag.ErrorMessage' != 'null' && '@ViewBag.ErrorMessage' != '')
            {
                 error('@ViewBag.ErrorMessage');
            }

            if ('@TempData["SuccessMessage"]' != 'null' && '@TempData["SuccessMessage"]' != '')
            {
                success('@TempData["SuccessMessage"]');
            }
             if ('@TempData["ErrorMessage"]' != 'null' && '@TempData["ErrorMessage"]' != '')
            {
                 error('@TempData["ErrorMessage"]');
            }
        });


        $(document).ajaxStart(function () {
            $(".preloader").show();
        });

        $(document).ajaxError(function(event, jqxhr, settings, exception) {
            if (jqxhr.status == 401) {
                // unauthorized
                window.location.href = _BaseUrl + 'login';
            }
        });

        $(document).ajaxComplete(function (event, xhr, settings) {
            $(".preloader").hide();
            if (xhr.status == @((int)System.Net.HttpStatusCode.Unauthorized)) {
                //login
                this.location.href = _BaseUrl + "login";
            }

            if (xhr.status == @((int)System.Net.HttpStatusCode.InternalServerError)) {
                //error
                this.location.href = _BaseUrl+ "error";
            }
        });


        function error(message) {
            $.toast({
                text: message,
                showHideTransition: "slide",
                allowToastClose: true,
                hideAfter: 5000,
                stack: 1,
                textAlign: "left",
                position: "top-right",
                heading: "Error",
                icon: "error",
                loaderBg:"#ff0000"
            });
        }

        function success(message) {
            $.toast({
                text: message,
                showHideTransition: "slide",
                allowToastClose: true,
                hideAfter: 5000,
                stack: 1,
                textAlign: "left",
                position: "top-right",
                heading: "Success",
                icon: "success",
                loaderBg: "#9EC600"
            });
        }

        function warning(message) {
            $.toast({
                text: message,
                showHideTransition: "slide",
                allowToastClose: true,
                hideAfter: 10000,
                stack: 1,
                textAlign: "left",
                position: "top-right",
                heading: "Warning",
                icon: "warning",
                loaderBg: "#6e572f"
            });
        }

        function DeletePropery(id) {
            if (confirm("Are you sure you want to delete this property?")) {
                $.ajax({
                    url: _BaseUrl + "User/PropertyDelete",
                    data: { "id": id },
                    type: "POST",

                    success: function (res) {
                        if (res.success === true) {
                            success("Property has been deleted successfully.");
                            window.location.href = _BaseUrl + "Home";
                        }
                        else {
                            if (res.message !== null && res.message !== undefined && res.message !== '') {
                                error(res.message);
                            }
                            else {
                                if (res.errorMessage != '' && res.errorMessage !== null && res.errorMessage !== undefined) {
                                    error(res.errorMessage);
                                }
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        var errorMessage = jqXHR.status + ': ' + jqXHR.statusText
                        error('Error - ' + errorMessage);
                    }
                });
            }
        }
    </script>


</body>
</html>