@model FHRealEstate.Models.PropertiesResponseModel
@{
    ViewData["Title"] = "Properties";
}
<section class="our-listing bgc-f7 pb30-991">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="listing_sidebar">
                    <div class="sidebar_content_details style3">
                        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                        <div class="sidebar_listing_list style2 mb0">
                            <div class="sidebar_advanced_search_widget">
                                <h4 class="mb25">Advanced Search <a class="filter_closed_btn float-right" href="#"><small>Hide Filter</small> <span class="flaticon-close"></span></a></h4>
                                <ul class="sasw_list style2 mb0">
                                    <li class="search_area">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputName1" placeholder="keyword">
                                            <label for="exampleInputEmail"><span class="flaticon-magnifying-glass"></span></label>
                                        </div>
                                    </li>
                                    <li class="search_area">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Location">
                                            <label for="exampleInputEmail"><span class="flaticon-maps-and-flags"></span></label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="selectpicker w100 show-tick">
                                                    <option>Property Type</option>
                                                    <option>Apartment</option>
                                                    <option>Bungalow</option>
                                                    <option>Condo</option>
                                                    <option>House</option>
                                                    <option>Land</option>
                                                    <option>Single Family</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="small_dropdown2">
                                            <div id="prncgs" class="btn dd_btn">
                                                <span>Price</span>
                                                <label for="exampleInputEmail2"><span class="fa fa-angle-down"></span></label>
                                            </div>
                                            <div class="dd_content2 w100">
                                                <div class="pricing_acontent">
                                                    <!-- <input type="text" class="amount" placeholder="$52,239">
                                                    <input type="text" class="amount2" placeholder="$985,14">
                                                    <div class="slider-range"></div> -->
                                                    <span id="slider-range-value1"></span>
                                                    <span class="mt0" id="slider-range-value2"></span>
                                                    <div id="slider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="selectpicker w100 show-tick">
                                                    <option>Bathrooms</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="selectpicker w100 show-tick">
                                                    <option>Bedrooms</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="selectpicker w100 show-tick">
                                                    <option>Garages</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                    <option>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_two">
                                            <div class="candidate_revew_select">
                                                <select class="selectpicker w100 show-tick">
                                                    <option>Year built</option>
                                                    <option>2013</option>
                                                    <option>2014</option>
                                                    <option>2015</option>
                                                    <option>2016</option>
                                                    <option>2017</option>
                                                    <option>2018</option>
                                                    <option>2019</option>
                                                    <option>2020</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="min_area style2 list-inline-item">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Min Area">
                                        </div>
                                    </li>
                                    <li class="max_area list-inline-item">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputName3" placeholder="Max Area">
                                        </div>
                                    </li>
                                    <li>
                                        <div id="accordion" class="panel-group">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#panelBodyRating" class="accordion-toggle link" data-toggle="collapse" data-parent="#accordion"><i class="flaticon-more"></i> Advanced features</a>
                                                    </h4>
                                                </div>
                                                <div id="panelBodyRating" class="panel-collapse collapse">
                                                    <div class="panel-body row">
                                                        <div class="col-lg-12">
                                                            <ul class="ui_kit_checkbox selectable-list float-left fn-400">
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                        <label class="custom-control-label" for="customCheck1">Air Conditioning</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                                        <label class="custom-control-label" for="customCheck4">Barbeque</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck10">
                                                                        <label class="custom-control-label" for="customCheck10">Gym</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                                        <label class="custom-control-label" for="customCheck5">Microwave</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                                        <label class="custom-control-label" for="customCheck6">TV Cable</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                                        <label class="custom-control-label" for="customCheck2">Lawn</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck11">
                                                                        <label class="custom-control-label" for="customCheck11">Refrigerator</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                                        <label class="custom-control-label" for="customCheck3">Swimming Pool</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <ul class="ui_kit_checkbox selectable-list float-right fn-400">
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck12">
                                                                        <label class="custom-control-label" for="customCheck12">WiFi</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck14">
                                                                        <label class="custom-control-label" for="customCheck14">Sauna</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                                        <label class="custom-control-label" for="customCheck7">Dryer</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck9">
                                                                        <label class="custom-control-label" for="customCheck9">Washer</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck13">
                                                                        <label class="custom-control-label" for="customCheck13">Laundry</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                                                                        <label class="custom-control-label" for="customCheck8">Outdoor Shower</label>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck15">
                                                                        <label class="custom-control-label" for="customCheck15">Window Coverings</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="search_option_button">
                                            <button type="submit" class="btn btn-block btn-thm">Search</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="breadcrumb_content style2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active text-thm" aria-current="page">Properties</li>
                    </ol>
                    <h2 class="breadcrumb_title">All Properties</h2>
                </div>
            </div>
            <div class="col-md-4 col-lg-6">
                <div class="sidebar_switch text-right">
                    <div id="main2">
                        <span id="open2" class="flaticon-filter-results-button filter_open_btn"> Show Filter</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="grid_list_search_result style2">
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <div class="left_area">
                                <p>9 Search results</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                            <div class="right_area style2 text-right">
                                <ul>
                                    <li class="list-inline-item">
                                        <span class="shrtby">Sort by:</span>
                                        <select class="selectpicker show-tick" id="SortBy">
                                            <option>Featured</option>
                                            <option value="MinPrice">Minimum Price</option>
                                            <option value="MaxPrice">Maximum Price</option>
                                            <option value="BuildYear">Build Year</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="AllProperties">
                    @foreach (var x in Model.AllProperties)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="feat_property home7 style4">
                                <div class="thumb">
                                    <div class="fp_single_item_slider">
                                        @if (x.PropertyImages != null && x.PropertyImages.Count > 0)
                                        {
                                            @foreach (var img in x.PropertyImages)
                                            {
                                                <div class="item">
                                                    <img class="img-whp" src="~/userfiles/@img">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                                        }
                                    </div>
                                    <div class="thmb_cntnt style2">
                                        <ul class="tag mb0">
                                            <li class="list-inline-item"><a href="#">@x.PropertyStatusText</a></li>
                                            <li class="list-inline-item"><a href="#">Featured</a></li>
                                        </ul>
                                    </div>
                                    <div class="thmb_cntnt style3">
                                        <ul class="icon mb0">
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                        </ul>
                                        <a class="fp_price" style="font-size: 18px !important" href="#">@x.PriceRange</a>
                                    </div>
                                </div>
                                <div class="details propertyDetails" data-propertyid="@x.PropertyId">
                                    <div class="tc_content">
                                        <p class="text-thm">@x.PropertyTypeText</p>
                                        <h4>@x.Title</h4>
                                        <p><span class="flaticon-placeholder"></span>@x.FullAddress</p>
                                        <ul class="prop_details mb0">
                                            <li class="list-inline-item"><a href="#">Beds: @x.TotalRooms</a></li>
                                            <li class="list-inline-item"><a href="#">Baths: @x.TotalBathrooms</a></li>
                                            <li class="list-inline-item"><a href="#">@x.PropertySizePrefix: @x.PropertySize</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div style="display:none">
                    @if (Model.Request != null)
                    {
                        <span id="PageIndex">@Model.Request.PageIndex</span>
                    }
                </div>
                <div id="test">
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>

<script type="text/javascript">

    var isworking = false;
    var pageIndex = 2;
    var isResetAndSend = false;

    $(document).ready(function () {

        $(".propertyDetails").click(function () {

            var propertyId = $(this).data("propertyid");
            window.open(_BaseUrl + "Property/GetProperty?propertyid=" + propertyId, "_blank");
        });


        $(window).on('scroll', throttle(function (e) {
            if (isworking == false &&
                ($(window).scrollTop() > $("#AllProperties").height() - $(this).height() - $(".start-partners").height() - $(".footer_one").height() - $("#respMenu").height() - $("#respMenu").height() - $(".footer_middle_area").height())) {
                e.preventDefault();
                GetData();
            }
        }, 2000));


        $("#SortBy").change(function () {
            isResetAndSend = true;
            GetData();
        });
    });



    function throttle(fn, threshhold, scope) {
        threshhold || (threshhold = 250);
        var last,
            deferTimer;
        return function () {
            var context = scope || this;

            var now = +new Date,
                args = arguments;
            if (last && now < last + threshhold) {
                // hold on to it
                clearTimeout(deferTimer);
                deferTimer = setTimeout(function () {
                    last = now;
                    fn.apply(context, args);
                }, threshhold);
            } else {
                last = now;
                fn.apply(context, args);
            }
        };
    }

    function GetData() {
        isworking = true;

        class DataRequest {
            constructor(pageSize, pageIndex, search, sort) {
                this.pageSize = pageSize;
                this.pageIndex = pageIndex;
                this.search = search;
                this.sort = sort;
            }
        }

        var sortby = $("#SortBy").val();
        if (sortby == null || sortby == '' || sortby === undefined) {
            sortby = "";
        }

        if (isResetAndSend === true) {
            pageIndex = 1;
        }

        var dataRequest = new DataRequest(0, pageIndex, "", sortby);

        $.ajax({
            type: 'POST',
            url: _BaseUrl + "getproperties",
            data: { request: dataRequest },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    pageIndex++;
                    if (isResetAndSend === true) {
                        $("#AllProperties").html('');
                        isResetAndSend = false;
                    }
                    $("#AllProperties").append(data);
                }
            },
            beforeSend: function () {
            },
            complete: function () {
                $(".preloader").hide();
                isworking = false;

            },
            error: function () {
                isworking = false;
            }
        });
    }

    function HideScrollBar() {
        $("body").css("overflow", "hidden");
    }

    function ShowScrollBar() {
        $("body").removeAttr("style");
    }

</script>

